*{margin:0;padding: 0;box-sizing: border-box;font-family: "Segoe UI",sans-serif;}


div#container{

    display: flex;

}

#menu-lateral{
    position: relative;
    min-width: 250px;

}

section#content{
    background-color: white;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}


/*ESTILOS DO FORMULARIO*/
.form-group{

    width: 70%;

}

form hr{
    width: 30%;
    margin: 20px auto;
    border-color: #cd4848;

}
h2,h1{
    width: 100%;
}
.form-group h1{
    font-size: 20px;
    margin: 20px 0;

}
.form-group h2{
    font-size: 15px;
    margin: 10px 0;
}
.form-group input, .form-group select{

    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding-left: 10px;
    box-sizing: border-box;
    outline-color: rgba(143, 40, 40,0.8);

}
table{
    border-spacing: 0;
    width: 100%;
    margin-top: 30px;

}

table td:nth-of-type(1)
table tr th, table tr, td{
    padding: 5px;
    border-bottom:1px solid gray;
    text-align: center;
    font-size: 14px;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;

}

input[type="radio"]{
    width: 15px;
    height: 15px;
    margin-right:10px;
}
.row label{
    margin-right: 15px;

}

.row .col{

    flex-grow: 1;
    flex-basis:auto;

}
.col-1{
    width: 9%;
}
.col-2{
    width: 18%;
    flex-grow:0;
    flex-basis: auto;
}
.col-3{
    width: 27%;
    flex-grow:0;
    flex-basis: auto;
}
.col-4{
    width: 36%!important;
    flex-grow:0;
    flex-basis: auto;
}
.col-5{
    width: 45%;
}
.col-6{
    width: 55%;
    flex-grow: 0 !important;
    flex-basis: auto !important;
}
.col-12{
    width: 100%;
}


form p{
    margin: 20px 0;
    width: 100%;
}

.btn-group{
    margin: 20px 0;
    width: 100%;
    display: flex;
    padding: 0 15px;
}
.btn-right{
    justify-content: flex-end;
}
.btn-default{

    border-radius:4px;
    padding: 10px;
    border-style: none;
    display: inline-block;
}
.td-flex{
    display: flex;
    justify-content: space-around;
}
.btn-edit{
   background-color: #eab92c;
    width:30px;
    height: 30px;
    background-image: url('../img/pencil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.btn-del{
    background-color: #b82020;
    width:30px;
    height: 30px;
    background-image: url('../img/delete.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;

}
.btn-save{
    background-color: #cd4848;
    color:white;
}

@media screen and (max-width: 900px){
    .form-group{
        width: 90%;
    }
}
@media screen and (max-width: 780px) {
    div#container{

        flex-direction: column;

    }
    #menu-lateral{
        width: 100%;
    }



}
