*{margin:0;padding: 0;box-sizing: border-box}
section#panel-dashboard{

    min-width: 250px;
    box-shadow: 5px 0 5px rgba(0,0,0,0.2);
    z-index: 1000;
    position: fixed;
    height: 100vh;



}

h1#logo{
    width: 100%;
    color:#F2893E;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;

}

#logo span{

    display: inline-block;
    width: 40px;
    height: 100%;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;

}


section#panel-dashboard header p{
    text-align: center;
}
section#panel-dashboard header p:first-of-type{
    font-size: 14px;
    font-weight: bold;
    color: #5E5E5E;

}
section#panel-dashboard header p:last-of-type{
    font-size: 14px;
    color: #747373;
    font-weight: 600;
}

div#avatar{
    border: 1px solid #3B3B3B;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 0 auto 10px auto;
    background-color:#3B3B3B;
    background-image: url('../img/avatar.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 80%;

}

nav#menu{

    padding: 10px;
    background-color: white;

}
nav#menu ul{
    list-style:none;
    margin-top:10px;
}
nav#menu ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left:15px;

}
nav#menu a{
    text-decoration: none;
    color:#443F3F;
    font-weight: 500;
}
nav#menu a:hover{
    color: #555555;
}
nav#menu span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:15px;

}
#btn-add{

    background-color: #AC3B3B;
    border-radius: 4px;
    height: 40px;
    padding: 0 !important;
    margin-bottom: 25px!important;
}
#btn-add a{

    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white!important;
}
#btn-add:hover{
    background-color: #cd4848;
}

.profile-icon{
    background-image: url('../img/user.png');
}
.consult-icon{
    background-image: url('../img/search.png');
}
.logout-icon{
    background-image: url('../img/logout.png');
}

@media screen and (max-width: 780px) {
    div#container{

        flex-direction: column;
    }
    section#panel-dashboard{
        position: relative;
        display: flex;
        width: 100%;
        height: 50px;
    }
    /* Items que somem*/
    #group-header{
        display: none;
    }
    #avatar{
        display: none;
    }
    nav#menu{
        border: 1px solid red;
        position: absolute;
        top:50px;
        right:0;
        display: none;
    }

}
@media screen and (min-width: 780px) {
    nav#menu{
        display:block ;
    }
}